In [1]:
import pandas
from pandas import DataFrame
import os
os.listdir()

['.ipynb_checkpoints',
 'diffrent_types.ipynb',
 'Migracje w wojew√≥dztwie lubelskim.csv',
 'plik1.csv',
 'plik2.xlsx',
 'plik3.xlsx',
 'plik4.csv',
 'something.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx']

In [10]:
df1=pandas.read_json("supermarkets.json")
df1=df1.set_index("Address")
df1

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [9]:
df1.loc["1056 Sanchez St":"551 Alvarado St","Contry":"ID"]

                Country  Employees  ID
Address
1056 Sanchez St     USA         12   5
551 Alvarado St     USA         20   6

In [12]:
df1.loc["332 Hill St", "ID"]

3

In [14]:
list(df1.loc[:, "ID"])

[1, 2, 3, 4, 5, 6]

In [2]:
df1.iloc[1:3,3:6]

NameError: name 'df1' is not defined

In [8]:
df1=pandas.read_json("supermarkets.json")
df1=df1.set_index("Address")
df1

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [10]:
df1.drop("ID", 1)

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,Sanchez,California
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [12]:
df1.drop("3666 21st St", 0)

,City,Country,Employees,ID,Name,State
Address,,,,,,
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114